:root {
  --warna-garis: #da251d;
  --color-text-garis: #da253d;
}
.hidden-child-sidebar {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.test {
  transition: all 0.5s;
}
.parent-sidebar:hover .hidden-child-sidebar {
  opacity: 1;
  height: auto;
}

.line-lamp-3 {
  display: -webkit-box;
  overflow: hidden !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line-lamp-3 > *:not(:first-child) {
  display: none !important;
}
.child.line-lamp-3 > * {
  display: -webkit-box;
  overflow: hidden !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-content {
  padding: 10px;
}
